.ipynb_checkpoints/
train.py
CITATION.cff
CONTRIBUTING.md
datasets/
detect.py
docker/
docs/
examples/
export.py
get_all_yaml_param_and_flops.py
get_COCO_metrice.py
get_FPS.py
get_model_erf.py
.git/
.gitignore
heatmap.py
images/
LICENSE
LOSS改进系列.md
main_profile.py
mkdocs.yml
plot_result.py
pyproject.toml
# runs/
test_env.py
tests/
test_yaml.py
track.py
transform_PGI.py
# ultralytics/
ultralytics.egg-info/
val.py
yolo11n.pt
YOLOV11配置文件.md
使用说明.md
新手推荐学习视频.md
论文画图相关视频.md
项目视频百度云链接.txt
__pycache__
~                                                                                                                                                                                                          
~                      
